@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --main-color: #e63946;
  --secondary-color: #a8dadc;
  --text-color: #457b9d;
  --tertiary-color: #f1faee;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 2.5rem;
  background-color: var(--secondary-color);
}

nav .nav-links .active-page {
  color: var(--text-color);
  font-weight: bold;
}

nav img {
  width: 100px;
}

.hamburger {
  font-size: 28px;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 500px;
}

.nav-links li {
  margin: 0 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: var(--main-color);
  letter-spacing: 1.4px;
  font-weight: 400;
  transition: all 0.2s ease-in;
}

.nav-links li a:hover {
  color: var(--tertiary-color);
}

.nav-close {
  display: none;
}

.login-sign-up .sign-up {
  margin-left: 10px;
  background-color: var(--main-color);
  width: 100px;
  border-radius: 25px;
  padding: 10px;
  transition: all 0.2s ease-in;
}

.login-sign-up .sign-up:hover {
  background-color: var(--secondary-color);
  color: var(--main-color);
}

.login-sign-up .login {
  color: var(--main-color);
  padding-bottom: 5px;
  transition: all 0.1s ease-in;
}

.login-sign-up .login:hover {
  border-bottom: 2px solid var(--main-color);
}

.login-sign-up a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.pricing-page {
  height: 100vh;
  width: 100%;
  background: var(--secondary-color);
  overflow: hidden;
}

.pricing-page .title {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.title h1 {
  padding-top: 1.5rem;
  font-size: 30px;
}

.pricing-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  align-items: center;
  width: 350px;
  height: 500px;
  padding: 2.5rem;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
  transition: all 0.2s ease-in;
}

.card:hover {
  transform: scale(1.1);
  z-index: 5;
}

.premium {
  transform: scale(1.1);
  z-index: 2;
}

.card .head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.5rem;
}

.card .type {
  font-weight: bold;
  font-size: 18px;
}

.popular {
  border-radius: 20px;
  color: #f1faee;
  background: var(--main-color);
  padding: 10px;
  font-size: 12px;
}

.price {
  display: flex;
  margin-bottom: 1rem;
}

.price span {
  font-weight: bold;
  font-size: 20px;
  margin-right: 5px;
}

.price .per-month {
  display: flex;
  align-items: flex-end;
}

.price h1 {
  font-size: 70px;
}

.line {
  background-color: #a7a7a7;
  height: 2px;
  width: 100%;
}

.description {
  width: 100%;
  line-height: 1.6;
  margin: 2rem;
  color: #a0a9ad;
}

.try-free {
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: 18px;
  border-radius: 10px;
  padding: 10px 20px;
  background: var(--text-color);
  color: var(--tertiary-color);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.try-free:hover {
  color: var(--text-color);
  background: var(--secondary-color);
}

.business .try-free {
  background: var(--main-color);
}

.business .try-free:hover {
  color: var(--text-color);
  background: var(--secondary-color);
}

footer {
  min-height: 50vh;
  width: 100%;
  padding: 2rem 4rem;
  color: var(--text-color);
  background-color: var(--tertiary-color);
}

footer .logo {
  width: 150px;
  background-color: var(--secondary-color);
  border-radius: 50px;
  padding: 10px;
  margin: 0 2rem 1.5rem;
}

.footer-sections {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  line-height: 1.8;
}

.footer-sections ul {
  list-style: none;
}

.footer-sections ul li {
  cursor: pointer;
}

.contact-details {
  margin-bottom: 1rem;
}

.contact-details p {
  margin-bottom: 1rem;
  margin-left: 2rem;
  width: 180px;
  line-height: 1.5;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials .fab {
  font-size: 30px;
  margin-bottom: 1rem;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .hamburger {
    display: block;
    transition: all 0.2s ease-in;
  }

  .hamburger:hover {
    color: var(--tertiary-color);
  }

  .nav-links {
    width: 60%;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0;
    background: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li a {
    transition: all 0.2s ease-in;
  }

  .nav-links li a:hover {
    color: var(--text-color);
    font-weight: bold;
  }

  .nav-close {
    position: absolute;
    font-size: 40px;
    top: 0;
    left: 5%;
    color: var(--main-color);
    cursor: pointer;
    display: block;
  }

  .pricing-page {
    overflow: visible;
    min-height: 250vh;
  }

  .pricing-cards {
    flex-direction: column;
  }

  .card {
    height: 400px;
    margin-bottom: 1.5rem;
  }

  .description {
    margin: 1rem;
  }

  .card.premium {
    transform: scale(1);
  }

  footer {
    padding: 1rem 0;
    position: relative;
  }

  footer .logo {
    display: none;
  }

  .footer-sections .explore,
  .about {
    display: none;
  }

  .socials {
    position: absolute;
    flex-direction: row;
    bottom: 35px;
    left: 67px;
  }

  .socials .fab {
    margin-right: 1rem;
  }
}

.toggle-nav {
  transform: translateX(0);
}
